body {
    background: linear-gradient(148deg, rgb(22, 135, 237), rgb(20, 55, 90)) no-repeat fixed center;
}

main {
    max-width: 1200px;
    width: 95vw;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 50px;
    color: #ffd21f;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

h1 {
    margin: auto;
    text-align: center;
    padding: 12px;
    font-size: calc(20px + 0.5vw);
}

th {
    font-size: calc(12px + 0.4vw);
    border: 1px solid #16ede6;
    border-spacing: 0px;
    padding: 0.8em;
    border-collapse: collapse;
    background-color: rgba(22, 237, 230, 0.2);
}

table {
    border-spacing: 0px;
    padding: 0.8em;
    border-collapse: collapse;
    width: 90%;
}

td {
    font-size: calc(10px + 0.3vw);
    border: 1px solid #16ede6;
    border-spacing: 0px;
    padding: 0.8em;
}

table {
    margin: auto;
}

.css-code {
    font-family: monospace;
}